<div class="profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>{{profile.user.username}} Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <label>Favorites:</label>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="date">Date Added</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fav in profile.user.favorites">
                        <td ng-click="profile.goto(fav)">{{fav.name}}</td>
                        <td class="date" ng-click="goto(fav)">{{fav.added | date:'medium':'en_US'}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="profile.unFavorite(fav, $index)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Rated Beers:</label>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="rating">Rating</th>
                        <th class="date">Date Updated</th>
                        <th class="date">Date Added</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rating in profile.user.ratings">
                        <td ng-click="goto(rating)">{{rating.name}}</td>
                        <td class="rating" ng-click="goto(rating)">{{rating.rating}}</td>
                        <td class="date" ng-click="goto(rating)">{{rating.updated | date:'medium':'en_US'}}</td>
                        <td class="date" ng-click="goto(rating)">{{rating.added | date:'medium':'en_US'}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="profile.unRate(rating, $index)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
