<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tappr (ui-router_refactor)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: header.isActive('/')}"><a href="/#/">Home</a></li>
                <li ng-class="{active: header.isActive('/profile')}"><a href="/#/profile">Profile</a></li>
                <li ng-class="{active: header.isActive('/beers')}"><a href="/#/beers">Beer Search</a></li>
                <li><a nohref ng-click="header.logout()">Logout</a></li>
            </ul>
            <div class="searchinput pull-right">
                <form ng-submit="header.search()">
                    <input type="text" ng-model="header.query">
                    <button type="button" ng-click="header.search()">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
