.detail {
    position: absolute;
    top: 60px;
    width: 80% !important;

    table {
        width: 100%;
    }

    .favorites {
        //margin-right: 300px;
        margin-bottom: 10px;
    }

    span.back-arrow {
        position: relative;
        float: left;
        font-size: 50px;
        padding-top: 9px;
        padding-right: 10px;
    }
}