.search {
    position: absolute;
    top: 40px;
    width: 100% !important;

    .filters {
        position: relative;
        height: 65px;
        width: 760px;
        padding: 10px;
        border: gray solid thin;
        display: block;
        margin-bottom: 20px;
    }
    .filter_checkboxes {
        position: relative;
        float: left;
        padding-right: 10px;
    }

    table {
        width: 85%;
    }
}