.search {
    position: absolute;
    top: 40px;
    width: 100% !important;

    .filters {
        width: 85%;
        border: red solid thin;
        padding: 10px;
        margin-bottom: 25px;

        .subfilter {
            border: blue thin solid;
        }
    }

    table {
        width: 85%;
    }
}