<div class="row">
    <div class="col-md-12">
        <label>Rated Beers:</label>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th class="rating">Rating</th>
                <th class="date">Date Updated</th>
                <th class="date">Date Added</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rating in user.ratings">
                <td ng-click="goto(rating)">{{rating.name}}</td>
                <td class="rating" ng-click="goto(rating)">{{rating.rating}}</td>
                <td class="date" ng-click="goto(rating)">{{rating.updated | date:'medium':'en_US'}}</td>
                <td class="date" ng-click="goto(rating)">{{rating.added | date:'medium':'en_US'}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="unRate(rating, $index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
