<div class="search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Search Results</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="filterBox">
                    <label>Categories:</label>
                    <div class="filters">
                        <div class="filter_checkboxes" ng-repeat="cat in search.categories">
                            <input type="checkbox" ng-model="filterItems[cat]"> {{cat}}
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="name">
                            Name
                            <a ng-click="search.sortValue='name'" class="glyphicon glyphicon-menu-down">
                            <a ng-click="search.sortValue='-name'" class="glyphicon glyphicon-menu-up">
                        </th>
                        <th class="brewery">
                            Brewery
                            <a ng-click="search.sortValue='brewery'" class="glyphicon glyphicon-menu-down">
                            <a ng-click="search.sortValue='-brewery'" class="glyphicon glyphicon-menu-up">
                        </th>
                        <th class="style">
                            Style
                            <a ng-click="search.sortValue='style'" class="glyphicon glyphicon-menu-down">
                            <a ng-click="search.sortValue='-style'" class="glyphicon glyphicon-menu-up">
                        </th>
                        <th class="category">
                            Category
                            <a ng-click="search.sortValue='category'" class="glyphicon glyphicon-menu-down">
                            <a ng-click="search.sortValue='-category'" class="glyphicon glyphicon-menu-up">
                        </th>
                        <th class="abv">
                            ABV
                            <a ng-click="search.sortValue='abv'" class="glyphicon glyphicon-menu-down">
                            <a ng-click="search.sortValue='-abv'" class="glyphicon glyphicon-menu-up">
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="beer in search.beers | filter: search.catFilter | orderBy: search.sortValue | limitTo: 20">
                    <tr ng-click="search.load(beer)">
                        <td>{{beer.name}}</td>
                        <td>{{beer.brewery}}</td>
                        <td>{{beer.style}}</td>
                        <td>{{beer.category}}</td>
                        <td class="abv">{{beer.abv | number:2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <pre>{{search.beers | json}}</pre>
</div>
