.search {
  position: absolute;
  top: 40px;
  width: 80% !important;
}
.search .filters {
  position: relative;
  height: 65px;
  width: 760px;
  padding: 10px;
  border: #dddddd solid thin;
  display: block;
  margin-bottom: 20px;
}
.search .filter_checkboxes {
  position: relative;
  float: left;
  padding-right: 10px;
}
.search table {
  width: 100%;
}
.search .name {
  width: 20%;
}
.search .brewery {
  width: 20%;
}
.search .style {
  width: 25%;
}
.search .category {
  width: 25%;
}
.search .abv {
  width: 10%;
  text-align: right;
  padding-right: 25px;
}
