.home {
  position: absolute;
  top: 40px;
  width: 100% !important;
}
.home .login {
  position: absolute;
  left: 40px;
  top: 20px;
  float: left;
  z-index: 1;
  background-color: white;
  border: #752C01 solid thin;
  padding: 20px;
}
.home .welcome {
  position: absolute;
  left: 40px;
  top: 20px;
  float: left;
  z-index: 1;
  background-color: white;
  border: #752C01 solid thin;
  padding: 20px;
}
.home .blurb {
  border: #752C01 solid thin;
  position: absolute;
  top: 200px;
  left: 250px;
  padding: 20px;
  background-color: white;
  width: 200px;
}
.profile {
  position: absolute;
  top: 40px;
  width: 100% !important;
}
/* app css stylesheet */
.star-rating {
  margin: 0;
  padding: 10px 0 10px 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}
.searchinput {
  margin: 12px;
}
.searchinput input {
  width: 200px;
}
