.home {
  position: absolute;
  top: 40px;
  width: 100% !important;
}
.home .login {
  position: absolute;
  left: 40px;
  top: 20px;
  float: left;
  z-index: 1;
  background-color: white;
  border: #752C01 solid thin;
  padding: 20px;
}
.home .blurb {
  border: #752C01 solid thin;
  position: absolute;
  top: 200px;
  left: 250px;
  padding: 20px;
  background-color: white;
  width: 200px;
}
/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.sharon {
  background-color: pink;
}
